*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    
  }
  .flex-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .flex-item{
background-color: pink;
padding: 0 100px;
width: calc(25%-10px);
text-align: center;
line-height: 50px;
  }
  @media screen and (max-width: 1024px) {
    .flex-item {
      width: calc(50% - 10px);
    }
  }
  
  /* màn hình mobile */
  @media screen and (max-width: 768px) {
    .flex-item {
      width: calc(100% - 10px);
    }
  }